@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    @apply bg-gray-800
}
.card-view{
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.card-edit{
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.card-delete{
    @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800
}

.notes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @apply gap-4 w-[80vw]
}
.note {
    border-radius: 8px;
    width: 280px;
    margin: 0 10px 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: #1e1e1e
}

.note .note-body {
    outline: 0;
    font-size: 24px;
    padding: 10px 16px 16px;
}
.notes .note:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
.single-note .note {
    margin: 0;
    width: 100%;
}
.single-note .note .note-body {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 20px;
}
.single-note .note .note-body::placeholder {
    color: #111111
}
.note .note-buttons {
    opacity: 0;
}
.note:hover .note-buttons{
    opacity: 1;
}
.note-buttons {
    text-align: right;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: end;
}

.note-buttons .note-cancel-button {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 16px;
}


.note-buttons .note-submit-button {
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    border: 1px solid #212000;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.note-buttons .note-edit-button {
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    border: 1px solid #0059b3;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.note-buttons .note-delete-button {
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    border: 1px solid #a82f2f;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.note-date {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    color: rgb(92, 92, 92);
}

.success-message {
    @apply text-violet-950
}
